<span xmlns:th="https://www.thymeleaf.org"
      th:fragment="footer (footer)" class="record"
      th:if="${theme.config.enhance.busuanzi_group.enable_busuanzi == true || theme.config.enhance.busuanzi_group.enable_busuanzi == 'custom'}"
      th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')}"
      th:classappend="|${mobileLine ? 'footer-truncation' : ''}${mobileLine and hideSeparator ? ' ' : ''}${hideSeparator ? 'exclusive' : ''}|">
    <span id="busuanzi_container_site_uv"
          th:style="${theme.config.enhance.busuanzi_group.enable_busuanzi == true} ? 'display: none;' : ''">
                              <i class="ri-account-circle-line" aria-hidden="true"></i><span class="stand"
                                                                                             th:id="${theme.config.enhance.busuanzi_group.enable_busuanzi == 'custom'} ? 'busuanzi_site_uv' : 'busuanzi_value_site_uv'">0</span>访客
                            </span>
                            <span id="busuanzi_container_site_pv"
                                  th:style="${theme.config.enhance.busuanzi_group.enable_busuanzi == true} ? 'display: none;' : ''">
                              <i class="ri-pie-chart-line" aria-hidden="true"></i><span class="stand"
                                                                                        th:id="${theme.config.enhance.busuanzi_group.enable_busuanzi == 'custom'} ? 'busuanzi_site_pv' : 'busuanzi_value_site_pv'">0</span>访问
                            </span>
</span>