<a xmlns:th="https://www.thymeleaf.org"
   th:fragment="footer (footer)" class="record"
   th:if="${!#strings.isEmpty(theme.config.basic_info.record_number_ps)}"
   th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')}"
   th:classappend="|${mobileLine ? 'footer-truncation' : ''}${mobileLine and hideSeparator ? ' ' : ''}${hideSeparator ? 'exclusive' : ''}|"
   th:aria-label="${theme.config.basic_info.record_number_ps}" th:title="${theme.config.basic_info.record_number_ps}"
   th:href="'https://beian.mps.gov.cn/#/query/webSearch?code=' + ${theme.config.basic_info.record_number_ps.replaceAll('[^\d]', '')}" target="_blank" rel="noopener noreferrer nofollow">
    <img
            th:src="${#theme.assets('/img/ga.webp')}" height="auto" width="auto" alt="公网安备"
            style="vertical-align: text-top; width: 1.2em; margin-right: 4px;"/>[[${theme.config.basic_info.record_number_ps}]]
</a>
