<a xmlns:th="https://www.thymeleaf.org"
   th:fragment="footer (footer)" class="record"
   th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')}"
   th:classappend="|${mobileLine ? 'footer-truncation' : ''}${mobileLine and hideSeparator ? ' ' : ''}${hideSeparator ? 'exclusive' : ''}|"
   href="/" rel="noopener noreferrer nofollow" th:aria-label="${site.title}" th:title="${site.title}"
   th:text="${site.title}">
</a>