<span xmlns:th="https://www.thymeleaf.org"
      th:fragment="footer (footer)"
      th:if="${!#strings.isEmpty(theme.config.basic_info.cdn_by_logo)}"
      th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')}"
      th:classappend="|${mobileLine ? 'footer-truncation' : ''}${mobileLine and hideSeparator ? ' ' : ''}${hideSeparator ? 'exclusive' : ''}|">
   本站由<a class="cloud-driven" target="_blank" rel="noopener noreferrer nofollow"
            th:href="${theme.config.basic_info.cdn_by_url}" aria-label="加速服务" title="加速服务">
                      <img height="auto" width="auto"
                           alt="加速服务"
                           th:src="${theme.config.basic_info.cdn_by_logo}"/>
                  </a>提供加速服务
</span>