<span xmlns:th="https://www.thymeleaf.org"
      th:fragment="footer (footer)"
      th:classappend="|${footer.mobile_line ? 'footer-truncation' : ''} ${footer.hide_separator ? 'exclusive' : ''}|">
    Powered by <span class="footer-copyright"><a class="powered footer-copyright-halo"
                                                 href="https://halo.run/"
                                                 target="_blank"
                                                 aria-label="Halo">Halo</a> & <a
        class="powered" href="https://github.com/zsjy/halo-theme-dream2.0-plus" target="_blank"
        aria-label="Dream2.0 Plus">Dream2 Plus</a></span>
</span>