<span xmlns:th="https://www.thymeleaf.org"
      th:fragment="footer (footer)"
      th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')}"
      th:classappend="|${mobileLine ? 'footer-truncation' : ''}${mobileLine and hideSeparator ? ' ' : ''}${hideSeparator ? 'exclusive' : ''}|">
    Powered by <span class="footer-copyright"><a class="powered footer-copyright-halo"
                                                 href="https://halo.run/"
                                                 target="_blank"
                                                 aria-label="Halo">Halo</a> & <a
        class="powered" href="https://github.com/zsjy/halo-theme-dream2.0-plus" target="_blank"
        aria-label="Dream2.0 Plus">Dream2 Plus</a></span>
</span>