@charset "utf-8";
/* CSS Document */
// 全局CSS变量
html {
  --theme: #50bfff;
  --main: #606266;
  --title: #444;
  --background: rgba(255, 255, 255, 0.94);
  --background-hover: #fff;
  --style-a: #fff;
  --light-a: #ffffff;
  --light-b: #ebeef5;
  --light-c: #dcdcdc;
  --light-d: #c0c4cc;
  --light-y: #1f1f1f;
  --light-z: #ffffff;
  --dark-a: #4a4a4a;
  --dark-b: #909399;
  --dark-c: #333;
  --dark-d: #9a9a9a;
  --dark-e: #7a7a7a;
  --color-a: #409eff;
  --bg-a: rgb(242 246 252 / 80%);
  --bg-b: #f2f6fc;
  --bg-c: #f5f5f5;
  --bg-d: rgba(255, 255, 255, 0.8);
  --bg-e: var(--theme);
  --bg-f: #f7f7f7;
  --bg-g: #e8f3ff;
  --bg-h: rgb(237 244 253 / 75%);
  --bg-i: #50bfff;
  --bg-j: rgb(243 244 245 / 25%);
  --bg-k: rgb(250 250 250 / 80%);
  --bg-l: rgb(243 243 243 / 80%);

  --radius-wrap: 8px;
  --radius-inner: 4px;
  --radius-img: 5px;
  --box-shadow: 0 0px 10px -5px #949494;

  &.night {
    --theme: #5d93db;
    --main: #999;
    --title: #c4c4c4;
    --background: rgba(40, 44, 52, .6);
    --background-hover: rgba(40, 44, 52, 0.8);
    --style-a: #080c28;
    --light-a: #232323;
    --light-b: #414243;
    --light-c: #303030;
    --light-d: #666;
    --light-y: #d0d0d0;
    --light-z: #c2c2c2;
    --dark-a: #888;
    --dark-b: #777;
    --dark-c: silver;
    --dark-d: #aaa;
    --dark-e: #c0c0c0;
    --color-a: #cbba7d;
    --bg-a: rgb(65 66 67 / 80%);
    --bg-b: #303030;
    --bg-c: #373d48;
    --bg-d: rgba(40, 44, 52, .8);
    --bg-e: #434a56;
    --bg-f: #080c28;
    --bg-g: rgba(210, 210, 210, 0.2);
    --bg-h: rgb(65 68 74 / 60%);;
    --bg-i: #276b92;
    --bg-j: rgb(36 36 36 / 15%);
    --bg-k: rgb(30 33 41 / 80%);
    --bg-l: rgb(63 65 75 / 80%);
    --box-shadow: 1px 1px 3px 1px #1b1b1b;

    body::before {
      filter: brightness(.3);
    }

    .logo-img {
      display: none;

      &-dark {
        display: inline-block;
      }
    }

    .waifu, iframe, img, video, svg, .thumbnail-image, .cover-image, .small-image, .aplayer-pic, .brightness {
      filter: brightness(.8);
    }

    .canvas_effects {
      &.night {
        display: block;
      }

      &.day {
        display: none;
      }
    }

    .main-content {

      figure {
        color: var(--main);
        background: var(--bg-k);

        pre code {
          color: var(--color-a);
          background: 0 0;
        }
      }
    }
  }

  //todo 插件统一方案，使用此须在主题配置中设定变量，用来应对高亮和黑暗配色切换
  &.plugin-unified-plan {
    /*todo 搜索組件*/
    //基础字体大小
    //--halo-search-widget-base-font-size: 1rem !important;
    //基础元素的圆角
    //--halo-search-widget-base-border-radius:  !important;
    //基础字体族
    //--halo-search-widget-base-font-family:  !important;
    //模态层颜色
    //--halo-search-widget-color-modal-layer: var(--theme) !important;
    //模态内容背景颜色
    //--halo-search-widget-color-modal-content-bg: var(--theme) !important;
    //表单输入背景颜色
    //--halo-search-widget-color-form-input-bg:  !important;
    //表单输入文字颜色
    //--halo-search-widget-color-form-input:  !important;
    //表单输入占位符颜色
    //--halo-search-widget-color-form-input-placeholder:  !important;
    //表单分隔线颜色
    //--halo-search-widget-color-form-divider:  !important;
    //无结果提示颜色
    //--halo-search-widget-color-result-empty:  !important;
    //结果项背景颜色
    //--halo-search-widget-color-result-item-bg:  !important;
    //结果项悬停背景颜色
    //--halo-search-widget-color-result-item-hover-bg:  !important;
    //结果项标题颜色
    //--halo-search-widget-color-result-item-title:  !important;
    //结果项内容颜色
    //--halo-search-widget-color-result-item-content:  !important;
    //命令键盘项颜色
    //--halo-search-widget-color-command-kbd-item:  !important;
    //命令键盘边框颜色
    //--halo-search-widget-color-command-kbd-border:  !important;

    /*todo 评论组件*/
    //基础文字颜色
    --halo-comment-widget-base-color: var(--light-y) !important;
    //基础元素的圆角
    //--halo-comment-widget-base-border-radius:  !important;
    ////基础字体大小
    //--halo-comment-widget-base-font-size:  !important;
    ////基础行高
    //--halo-comment-widget-base-line-height:  !important;
    ////基础字体族
    --halo-comment-widget-base-font-family: "Dream Font" !important;
    ////头像的圆角大小
    //--halo-comment-widget-component-avatar-rounded:  !important;
    ////头像大小
    //--halo-comment-widget-component-avatar-size:  !important;
    ////表单输入背景颜色
    //--halo-comment-widget-component-form-input-bg-color:  !important;
    ////表单输入文字颜色
    //--halo-comment-widget-component-form-input-color:  !important;
    ////表单输入边框颜色
    //--halo-comment-widget-component-form-input-border-color:  !important;
    ////表单输入焦点时边框颜色
    --halo-comment-widget-component-form-input-border-color-focus: var(--theme) !important;
    ////表单输入焦点时的阴影
    //--halo-comment-widget-component-form-input-box-shadow-focus:  !important;
    ////登录按钮背景颜色
    //--halo-comment-widget-component-form-button-login-bg-color: var(--theme) !important;
    ////登录按钮悬停背景颜色
    //--halo-comment-widget-component-form-button-login-bg-color-hover: var(--theme) !important;
    ////登录按钮边框颜色
    --halo-comment-widget-component-form-button-login-border-color: var(--light-c) !important;
    ////提交按钮背景颜色
    --halo-comment-widget-component-form-button-submit-bg-color: var(--theme) !important;
    ////提交按钮文字颜色
    --halo-comment-widget-component-form-button-submit-color: #f8f8f8 !important;
    ////提交按钮边框颜色
    --halo-comment-widget-component-form-button-submit-border-color: var(--theme) !important;
    ////提交按钮悬停边框颜色
    --halo-comment-widget-component-form-button-submit-border-color-hover: var(--theme) !important;
    ////表情按钮颜色
    //--halo-comment-widget-component-form-button-emoji-color: var(--theme) !important;
    ////评论项操作悬停背景颜色
    //--halo-comment-widget-component-comment-item-action-bg-color-hover:  !important;
    ////评论项操作颜色
    //--halo-comment-widget-component-comment-item-action-color:  !important;
    ////评论项操作悬停颜色
    //--halo-comment-widget-component-comment-item-action-color-hover:  !important;
    ////分页按钮悬停背景颜色
    //--halo-comment-widget-component-pagination-button-bg-color-hover:  !important;
    ////分页按钮活动状态背景颜色
    //--halo-comment-widget-component-pagination-button-bg-color-active:  !important;
    ////分页按钮活动状态边框颜色
    //--halo-comment-widget-component-pagination-button-border-color-active:  !important;
    ////表情选择器颜色
    //--halo-comment-widget-component-emoji-picker-rgb-color: var(--theme) !important;
    ////表情选择器强调颜色
    //--halo-comment-widget-component-emoji-picker-rgb-accent:  !important;
    ////表情选择器背景颜色
    //--halo-comment-widget-component-emoji-picker-rgb-background:  !important;
    ////表情选择器输入颜色
    //--halo-comment-widget-component-emoji-picker-rgb-input:  !important;
    ////表情选择器边框颜色
    //--halo-comment-widget-component-emoji-picker-color-border:  !important;
    ////表情选择器悬停边框颜色
    //--halo-comment-widget-component-emoji-picker-color-border-over:  !important;

  }

}

////組件高亮，todo 使用此方案时复制统一配色方案的相关内容后修改对应值
//.color-scheme-light {
//}
////組件暗黑，todo 使用此方案时复制统一配色方案的相关内容后修改对应值
//.color-scheme-dark {
//}