<!DOCTYPE html>
<th:block
  th:insert="~{common/layout :: layout (title = ${title} + ' - ' + ${site.title}, canonical = @{/friends}, content = ~{::content}, isPost = true)}"
  th:with="isJournals = true, enableShare = false, baseEnableComment = false"
  xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <div class="widget card friends" th:each="friend : ${friends.items}" th:with="spec = ${friend.spec}">
      <div class="card-content main">
        <h2 class="title"><a th:href="${spec.postLink}" target="_blank" th:text="${spec.title}"></a></h2>
        <div class="main-content not-toc" th:text="${spec.description}"></div>
        <hr/>
        <div class="meta">
          <a class="has-link-grey" th:href="${spec.authorUrl}" target="_blank" th:aria-label="${spec.author}" th:title="${spec.author}">
            <img th:if="${!#strings.isEmpty(spec.logo)}" th:src="${spec.logo}" alt="avatar">
            <span th:text="${spec.author}"></span>
          </a>
          <em th:text="'发表于 ' + ${#dates.format(spec.pubDate,'yyyy年MM月dd日 HH:mm:ss')}"></em>
        </div>
      </div>
    </div>
    <th:block th:replace="~{main/pagination :: pagination (${friends}, '/friends')}"/>
  </th:block>
</th:block>
