<!DOCTYPE html>
<th:block
  th:insert="~{common/layout :: layout (title = ${theme.config.page_config.search.search_title} + ' - ' + ${site.title}, canonical = @{/search}, content = ~{::content}, isPost = true)}"
  th:with="isJournals = true, enableShare = false, baseEnableComment = false"
  xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <div class="card card-content search">
      <div class="card-tab">
        <div>[[${#strings.replace(title, ' - ' + site.title, '')}]]</div>
      </div>
      <div class="search-box">
        <script th:inline="javascript">
          $(function(){
            document.getElementById('halo-search-form').addEventListener('submit', function(event) {
              var searchInput = document.getElementById('halo-search-form-text-input');
              var query = searchInput.value.trim();
              if (!query || query.startsWith('*')) {
                // 阻止表单提交
                event.preventDefault();
                // 显示错误信息
                Qmsg.warning(!query ? '请输入搜索内容' : '搜索内容不能以 * 开头');
              }
            });
          })
        </script>
        <form id="halo-search-form" class="search-form-inner" method="get" action="/search" role="search" data-pjax>
          <input
                  id="halo-search-form-text-input"
                  class="text-input"
                  type="search"
                  name="keyword"
                  th:title="${theme.config.page_config.search.search_placeholder}"
                  th:placeholder="${theme.config.page_config.search.search_placeholder}"
                  th:value="${searchResult.keyword}"
          />
          <button class="search-form-btn" th:title="${theme.config.page_config.search.search_btn_title}" type="submit">
            <i class="ri-search-line"></i>
          </button>
        </form>
      </div>
    </div>
    <div th:if="${searchResult.hits.size() > 0}" class="widget card search" th:each="hit : ${searchResult.hits}">
      <a th:href="${hit.permalink}" th:target="${theme.config.page_config.search.search_target}" >
        <div class="card-content main">
          <h2 class="title" th:utext="${hit.title}"></h2>
          <div class="main-content not-toc" th:utext="${hit.description}"></div>
          <hr/>
          <div class="meta">
            <div></div>
            <em th:text="'最后更新于 ' + ${#dates.format(hit.updateTimestamp,'yyyy年MM月dd日 HH:mm:ss')}"></em>
          </div>
        </div>
      </a>
    </div>
    <div th:unless="${searchResult.hits.size() > 0}" class="widget card search" >
      <div class="result-empty">
        <div class="result-empty-tips" th:utext="${theme.config.page_config.search.search_empty_tips}"></div>
      </div>
    </div>
  </th:block>
</th:block>
