<!DOCTYPE html>
<th:block
        th:insert="~{common/layout :: layout (title = ${theme.config.page_config.search.search_title} + ' - ' + ${site.title}, canonical = @{/search}, content = ~{::content}, isPost = true)}"
        th:with="isJournals = true, enableShare = false, baseEnableComment = false"
        xmlns:th="https://www.thymeleaf.org">
    <th:block th:fragment="content">
        <div class="card card-content search">
            <div class="card-tab">
                <div>[[${#strings.replace(title, ' - ' + site.title, '')}]]</div>
            </div>
            <div class="search-box">
                <script th:src="@{/assets/js/search.min.js(mew=${theme.spec.version})}"></script>
                <form id="dream-search-form" class="search-form-inner" method="get" action="/search" role="search">
                    <input id="halo-search-form-limit" type="hidden" name="limit"
                           th:value="${theme.config.page_config.search.search_limit}">
                    <input
                            id="halo-search-form-text-input"
                            class="text-input"
                            type="search"
                            name="keyword"
                            th:title="${theme.config.page_config.search.search_placeholder}"
                            th:placeholder="${theme.config.page_config.search.search_placeholder}"
                            th:value="${searchResult.keyword}"
                    />
                    <button class="search-form-btn" th:title="${theme.config.page_config.search.search_btn_title}"
                            type="submit">
                        <i class="ri-search-line"></i>
                    </button>
                </form>
            </div>
        </div>
        <div id="dream-search-result">
        </div>
        <div id="dream-search-result-empty" class="widget card search">
            <div class="result-empty">
                <div class="result-empty-tips" th:utext="${theme.config.page_config.search.search_empty_tips}"></div>
            </div>
        </div>
    </th:block>
</th:block>
