<div xmlns:th="https://www.thymeleaf.org"
     th:fragment="widget (sidebar)"
     th:class="'card widget notice ' + ${sidebar.hide} + ' is-hidden-all'">
    <div class="card-title">
        <i th:class="${#strings.defaultString(sidebar.icon, 'ri-volume-up-line') + ' card-title-label'}"></i><span
            th:text="${#strings.defaultString(sidebar.title, '公告')}"></span>
    </div>
    <th:block th:if="${#strings.isEmpty(sidebar.content)}">
        <div class="card-content">
            <p>&emsp;&emsp;欢迎来访[[${site.title}]]，博主还没有发布任何公告！</p>
        </div>
    </th:block>
    <th:block th:if="${!#strings.isEmpty(sidebar.content)}">
        <div class="card-content">
            [(${sidebar.content})]
        </div>
    </th:block>
</div>